<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->  
    <property name="LOG_HOME" value="./log" />  
    
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
	  <encoder>
	    <charset>utf-8</charset>             
   		<pattern>%d{yyyy-MM-dd HH:mm:ss} [%p][%c][%M][%L]-> %m%n</pattern>   
	  </encoder>
	</appender>
	
	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
	  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	    <fileNamePattern>${LOG_HOME}/log_%d{yyyyMMddHH}.log</fileNamePattern>
	    <maxHistory>30</maxHistory>         
	  </rollingPolicy>
	 <!--  <encoder>
	    <Pattern>%msg %n</Pattern>
	  </encoder> -->  
	  <encoder>         
    	<charset>utf-8</charset>             
   		<pattern>%d{yyyy-MM-dd HH:mm:ss} [%p][%c][%M][%L]-> %m%n</pattern>    
  	  </encoder> 
	</appender>
	
	
    <!-- 日志输出级别 -->
    <root>
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="dailyRollingFileAppender"/>
       <!--  <appender-ref ref="db"/> -->
    </root>
      
 
 </configuration>
